/* General text styles */
h2 {
    font-weight: 800 !important;
}

a.link {
    color: #126b00;
}

a.link:hover,
a.link:focus {
    background-color: #126b00;
    padding: 0 5px;
    color: white;
    border-radius: 3px;
}

.nowrap {
    white-space: nowrap;
}

ul li,
ol li {
    margin-bottom: 0.5em;
}

.hr-80 {
    max-width: 80%;
}

.rotated-345 {
    max-width: 300px;
    float: right;
    border: 2px dotted #126b00;
    padding: 10px;
    transform: rotate(345deg);
    /* background: teal; */
}

/* Hero Section */
header {
    overflow: hidden;
    border-bottom: 5px solid #000;
}

.subnav-hero-section {
    text-align: center;
    position: relative;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
}

.subnav-hero-section .subnav-hero-headline {
    width: 100%;
    height: 100%;
    color: #222;
}

.subnav-hero-section .subnav-hero-headline img {
    max-width: 100%;
    max-height: 100%;
}

.subnav-hero-subnav {
    float: none;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    bottom: 0;
    width: 100%;
}

.subnav-hero-subnav li {
    float: none;
    display: inline-block;
}

.subnav-hero-subnav li a {
    padding: 0.9rem 1rem;
    font-size: 0.75rem;
    color: #222;
    text-transform: uppercase;
    display: block;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.35s ease-in-out;
}

.subnav-hero-subnav li a.is-active {
    background: rgba(0, 0, 0, 0.75);
    color: white;
}

.subnav-hero-subnav li a:hover {
    background: rgba(0, 0, 0, 0.75);
    color: white;
}

.subnav-hero-subnav li:first-of-type {
    margin: 0;
    padding: 0;
}

.subnav-hero-subnav li:first-of-type a {
    font-size: 1rem;
}

.dropdown-pane {
    padding: 0.625em;
}

.dropdown-pane ul {
    margin: 0 auto;
}

.dropdown-pane li {
    margin-bottom: 1em;
}

/* Main Body */
.main-body {
    background: #fff;
    background: url("../images/lemon-border-right.jpg") right center repeat-y;
    background-size: contain;
    padding: 0 1.25em 0 1.25em;
}

.section {
    position: relative;
    max-width: 900px;
    margin: 0.6em auto 1em auto;
}

/* Footer */
footer {
    background: #126b00;
    padding: 1rem;
}

.social-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-footer #copyright {
    margin: 0;
}

.social-footer a {
    color: #fefefe;
}

.social-footer a:hover,
.social-footer a:focus,
.social-footer a:active {
    color: white;
    transition: color 0.3s ease-in;
}

.social-footer .social-footer-icons .fa {
    vertical-align: middle;
}

.social-footer .social-footer-icons li:last-of-type {
    margin-right: 0;
}

.social-footer .social-footer-icons .fa {
    font-size: 1.3rem;
    color: #fefefe;
}

.social-footer .social-footer-icons .fa:hover,
.social-footer .social-footer-icons .fa:focus,
.social-footer .social-footer-icons .fa:active {
    color: white;
    transition: color 0.3s ease-in;
}

/* Media Queries */
@media screen and (max-width: 360px) {
    .social-footer {
        display: block;
        text-align: center;
    }

    .social-footer .menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 39.9375em) {
    .subnav-hero-section {
        height: 150px;
    }

    .subnav-hero-subnav li:first-of-type a {
        padding: 0.5em 0.5em 0.25em;
    }

    .main-body {
        padding-right: 1.75em;
        padding-left: 1em;
    }
}